.album-tracks-area {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-column-gap: 20px;
    // row-gap: 40px;
    // padding: 75px 20px 75px 20px;
    // width: 90%;
    // margin-left: 280px;
    // overflow: hidden;
    position: relative;
    // height:100vh;
}

.station-background {
    // background-image: url("home-background.jpg");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // // height: 100vh;
    // background-attachment:fixed;
}

.background-albums-show {
    position: absolute;
    // height: 100vw;
    z-index: -1;
}

.show-background {
    // position: relative;
    // filter: blur(8px);
    // -webkit-filter: blur(8px);
    // position: absolute;
    // z-index: -1;
    // width: 100vw;
    // height: 100vh;
    // object-fit: fill;
    // height: 100vh;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.album-show-details {
    position: absolute;
    margin-left: 280px;
}

#play-track {
    display: none;
}