.p-contact {
    color:white;
}

.connect-contact {
    background-color: #DD13D5;
    color: white;
    font-size: 16px;
    padding: 10px 25px 10px 25px;
    border: 0;
    border-radius: 10px;
    &:hover {
        color:white;
        text-decoration: none;
    }
}