.station-background {
    // background-image: url("home-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // height: 100%;
    background-attachment:fixed;
    overflow:hidden;
    overflow-x: scroll;
}

.station-background::-webkit-scrollbar {
    display: none;
}

.station-flex {
    display: flex;
}

.container-station-tracks {
    padding:250px;
    text-align: center;
    height: 100vh;
}



.search-track {
    // padding-top: 50px;
    // padding-bottom: 100px;
    
}

.hidden {
    display: none;
}


.search-form {
    width: 300px;
}

.main-station-container {
    width: auto;
}


.station-tracks-area {
    // position: absolute;
    display: flex;
    padding-top: 440px;
    margin-left: 280px;
    scrollbar-width: none;
}

// .boxHoz {
    
//     overflow-x: scroll;
//     overflow-y:hidden;
//     white-space: nowrap;
//     margin-bottom: 20px;
//     scrollbar-width: none;
// }


// .station-tracks-area::-webkit-scrollbar {
//     display: none;
// }



.background-station-show {
    position: absolute;
    // height: 100vw;
    z-index: -1;
}

.track-show-details {
    // position: absolute;
    position: fixed;
    margin-left: 280px;
    padding-top: 300px;
    width: 900px;
}

.track-count {
    color: #DD13D5;
}

.border {
    border: red solid 5px;
}