.station-background {
    background-image: url("home-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // height: 100%;
    background-attachment:fixed;
}

.station-flex {
    display: flex;
}

.container-station-tracks {
    padding:250px;
    text-align: center;
    height: 100vh;
}

.search-track {
    // padding-top: 50px;
    // padding-bottom: 100px;
    
}

.hidden {
    display: none;
}


.search-form {
    width: 300px;
}

.station-tracks-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    row-gap: 40px;
    // padding: 75px 20px 75px 20px;
    width: 100%;
    // margin-left: 280px;
    padding-bottom: 200px;
}

.background-station-show {
    position: absolute;
    // height: 100vw;
    z-index: 0;
}

.track-show-details {
    position: absolute;
    margin-left: 280px;
    padding-top: 200px;
}