<div class="vert-nav">
    <div class="vertnav-avatar-title">
        <%= image_tag "avatar.png", class:"avatar-vertnav" %>
        <h1 class="vertnav-username">@Username</h1>
        <p class="vertnav-usertype">User Type</h1>
    </div>
    <div class="vertnav-items">
        <div class="flex">
        <i class="fas fa-wave-square"></i><p class="nav-text">Main Station</p>
        </div>
        <div class="flex">
        <i class="fas fa-music"></i><p class="nav-text">Playlists</p>
        </div>
        <div class="flex">
        <i class="fas fa-user"></i><p class="nav-text">Account</p>
        </div>
        <div class="flex">
        <i class="fas fa-compact-disc"></i><p class="nav-text">Albums</p>
        </div>
    </div>

</div>
