<div class="vert-nav">
    <div class="vertnav-avatar-title">
        <%= image_tag "avatar.png", class:"avatar-vertnav" %>
        <h1 class="vertnav-username">@Username</h1>
        <p class="vertnav-usertype">User Type</h1>
    </div>
    <div class="vertnav-items">
        <div>
        <i class="fas fa-wave-square">Main Station</i>
        </div>
        <div>
        <i class="fas fa-compact-disc">Playlists</i>
        </div>
        <div>
        <i class="fas fa-user">Account</i>
        </div>
    </div>

</div>
