<div class="home-background">
    <div class="overlay">
        <div class="container-home">
            <h1 class="headings-one">Contact</h1>
             <p class="p-contact">I am busy developing this project. To get in touch during my development,email me at <a href="mailto:ilia@thedmcsa.co.za">ilia@thedmcsa.co.za</a>.</p>
        </div>
    </div>
</div>