<div class="home-background">
    <div class="overlay">
        <div class="container-home">
            <h1 class="headings-one">Contact</h1>
            <p class="p-contact">I am busy developing this project. To get in touch during my development, please take a look below.</p>
            <%= link_to "Email", "mailto:ilia.zolas@gmail.com", class: "connect-contact" %>
            <%= link_to "Linkedin", "https://www.linkedin.com/in/iliazolas/", class: "connect-contact" %>
            <%= link_to "Github", "https://github.com/IliaZolas", class: "connect-contact" %>
        </div>
    </div>
</div>