<div class="station-background">
    <div class="station-flex">
        <div>
            <%= render 'shared/verticalnavbar' %>
            <%= yield %>
        </div>
        <div class="overlay">
            <div class="container-station-tracks">
                <h1 class="headings-one">Track Area</h1>
                <p class="p-about">with tracks</p>
                
            </div>
        </div>
    </div>
</div>