.big-button {
    background-color: #DD13D5;
    color: white;
    font-size: 34px;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    &:hover {
        color:white;
        text-decoration: none;
    }
}

.logout-button {
    background-color: #DD13D5;
    color: white;
    font-size: 18px;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    &:hover {
        color:white;
        text-decoration: none;
    }
}

.add-album-button {
    color: #DD13D5;
    font-size: 44px;
    padding-right: 15px;
}

.add-track-button {
    
}

.search-button {
    background-color: #DD13D5;
    color: white;
    font-size: 16px;
    padding: 10px 25px 10px 25px;
    border: 0;
    border-radius: 10px;
    &:hover {
        color:white;
        text-decoration: none;
    }
}

.like-button, .addtoplaylist {
    color: white;
    background-color: rgba(0,0,0,0);
    border: none;
    padding: 0px;
}

