.big-button {
    background-color: #DD13D5;
    color: white;
    font-size: 34px;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    &:hover {
        color:white;
        text-decoration: none;
    }
}
