.navbar {
  position: fixed;
  font-size: 18px;
  color: #fff;
  left: 0;
  background-color: rgba(0,0,0, 0.0);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 200;
}

.navbar-lewagon {
  justify-content: space-between;
  
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  // width: 40px;
}

.nav-link {
}

.navbar-light .navbar-nav .nav-link {
  color: white;
    a {
      color: white;
    }
}

.bandfeels-temp-logo {
  color:white;
  font-size: 28px;
  padding-top: 15px;
}

