.create-album-area {
    padding-top: 180px;
    padding-left: 60px;
    padding-right: 60px;
}

.album-image-new {
    height: 300px;
    width: 300px;
    background-color: grey;
    border-radius: 10px;
}

.new-album-heading {
    color: white;
    font-weight: bold;
}

.purple-heading {
    color: #DD13D5;
    font-weight: bold;

}

.new-album-text {
    color: white;
}

.album-form-area {
    background-color: grey;
    border-radius: 10px;
    width: 700px;
    padding: 50px;
}

.right-div {
    padding-top: 55px;
}