.vert-nav {
    width: 250px;
    height: 100vh;
    backdrop-filter: blur(15px);
    padding-top: 20vh;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}

.vertnav-avatar-title {
    text-align: center;
}

.avatar-vertnav {
    width: 110px;
}

.vertnav-username {
    color: white;
    font-size: 22px;
}

.vertnav-usertype {
    color: white;
    font-size: 16px;
}

.vertnav-items {
    color: white;
    font-size: 18px;
    padding-left: 50px;
    padding-top: 20px;
} 

.nav-text {
    padding-left: 10px;
    color: white;
    &:hover {
        color: white;
        text-decoration: none;
    }
}